body {
  font-family: verdana;
  margin: 0px;
}
th, td {
	padding: 5px;
}
th {
  background-color: #004065;
  color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
img {
	vertical-align: middle;
}
#head {
	height: 110px;
	background-color: #f2f2f2;
	position: relative;
}
#head-public {
	height: 75px;
	background-color: #f2f2f2;
	position: relative;
}
#logo {
	height: 70px;
	vertical-align: middle;
	margin-left: 1em;
}
.imgspan {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
#content {
	margin: 1em;
}
#nav {
	position: absolute;
	bottom: 5px;
	left: 21px;
}
#email {
	position: absolute;
	bottom: 5px;
	right: 16px;
}
#nav a {
	text-decoration: none;
	background-color: #004065;
	color: white;
	padding: 5px 5px;
	text-align: center;
    font-weight: bold;
}
input, select {
	padding: 4px;
	font-family: inherit;
}
button, input[type="submit"] {
	padding: 4px;
	border: none;
	background: #004065;
	color: white;
    font-weight: bold;
	margin: 2px;
}