body {
	background-image: url("pics/light-blue-pattern.jpg");
}
h1 {
	text-align: center;
	font-family: Impact, Charcoal, san-serif;
}
h2 {
	font-family: Impact, Charcoal, san-serif;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}